# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore config and metadata folders
.jupyter/

# Ignore temporary system files
.DS_Store
Thumbs.db

# Ignore all data files (but allow a README to stay)
data/*
!data/README.md

# Ignore archived files
archive/